form.signup,
form.login {
  margin-top: 50px;
}

/* .navbar-header {
  font-size: x-large;
} */

.brand-logo {
  margin-left: 10px;
}

label {
  color: black;
}

input {
  color: black;
}

.responsive-img {
  margin-top: 15px;
}

#search {
  border-radius: 24px;
  padding: 5px;
  /* position: absolute; */
  float: right;
  background-color: grey;
  width: 42px;
  height: 42px;
  /* margin-left: 800px; */
  margin-left: 5px;
  margin-right: 10px;
  /* margin-bottom: 1000px; */
}

h1 {
  font-size: 12pt;
}

h2 {
  text-align: center;
  font-size: 16pt;
}

h3 {
  text-align: center;
  font-size: 14pt;
}

h4 {
  text-align: center;
  font-size: 14pt;
}

#restart {
  float: right;
  margin-top: 12px;
}

/* Footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: lightgray;
  color: #000000;
}

main {
  flex: 1 0 auto;
}

.footer-copyright {
  text-align: center;
}